/* ..\web\systemResources\themeResources\rin.css built Wed 03/13/2013 at  4:46:05.76 */ 
﻿.rin_selectDisable
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.rin_metrooned_gallery
{
    color: #fcfcfc;
    background: #01131B;
    overflow: hidden;
    font-family: "Segoe UI" , Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    position: absolute;
    height: 100%;
    width: 100%;
    outline:none;
}
.rin_metrooned_gallery:focus
{
    outline:none;
}
.rin_metrooned_outer_container
{
    position: absolute;
    bottom: 0px;
    margin: 0px 0px 0px 0px;
    height: 145px;
    width: 100%;
    padding: 0px 30px 70px 30px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.050+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
}
.rin_metrooned_thumbScroller
{
    position: relative;
    overflow: hidden;
    outline:none;
}
.rin_metrooned_thumbScroller:focus
{
    outline:none;
}
.rin_metrooned_thumbScroller .rin_metrooned_container
{
    position: relative;
    left: 0;
    display: inline-block;
    padding: 0px 0px 0px 0px;
}
.rin_metrooned_thumbScroller ul
{
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
}
.rin_metrooned_groupsList
{
    display: inline-block;
    margin: 0px 35px 0px 0px;
    padding: 0;
}
.rin_metrooned_itemsList
{
    display: inline;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.rin_metrooned_thumbScroller .rin_metrooned_content
{
    float: left;
    display: inline;
    padding: 2px;
}
.rin_metrooned_thumbScroller img
{
    height: 90px;
    width: 120px;
    opacity: 0.9;
    border: 1px solid transparent;
    margin-top: 15px;
}
img.clone
{
    height: 90px;
    width: 120px;
    opacity: 1;
    border: 2px solid #fff;
}
.rin_metrooned_thumbScroller img.selected
{
    border: 1px solid;
    border-color: White;
    opacity: 1;
}

.rin_metrooned_thumbScroller img.hover
{
    border: 1px solid;
    border-color: White;
    opacity: 1;
}
.rin_metrooned_loading
{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0px 0px -35px;
    background: #000 url(images/loader.gif) no-repeat center center;
    width: 70px;
    height: 70px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 999;
    opacity: 0.7;
}
.rin_metrooned_next, .rin_metrooned_prev, .rin_metrooned_scroll_prev, .rin_metrooned_scroll_next
{
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: -15px;
    cursor: pointer;
    opacity: 0.7;
    outline: none;
    border: 0px;
}
.rin_metrooned_next:hover, .rin_metrooned_prev:hover, .rin_metrooned_scroll_prev:hover, .rin_metrooned_scroll_next:hover
{
    opacity: 1;
}
.rin_metrooned_next:disabled, .rin_metrooned_prev:disabled, .rin_metrooned_scroll_prev.disabled, .rin_metrooned_scroll_next.disabled
{
    opacity: 0.2;
}
.rin_metrooned_next
{
    background: #000 url(images/next.png) no-repeat center center;
    right: -50px;
    top: 50%;
}
.rin_metrooned_prev
{
    background: #000 url(images/prev.png) no-repeat center center;
    left: -50px;
    top: 50%;
}
.rin_metrooned_scroll_prev, .rin_metrooned_scroll_next
{
    width: 24px;
    height: 24px;
    bottom: 120px;
    display: none;
}
.rin_metrooned_scroll_next
{
    background: transparent url(images/scrollright.png) no-repeat center center;
    right: 0px;
}
.rin_metrooned_scroll_prev
{
    background: transparent url(images/scrollleft.png) no-repeat center center;
    left: 0px;
}
.rin_metrooned_preview
{
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.rin_metrooned_CBtitle h1
{
    font-size: 300%;
    font-weight: lighter;
    position: absolute;
    margin-top: 50px;
    left: 15px;
    width: 30%;
    white-space: nowrap;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

.rin_metrooned_CBDescription
{
    position: absolute;
    width: 25%;
    min-width: 300px;
    right: 0px;
    float: right;
    overflow-x: hidden;
    overflow-y: auto;
    height: 80%;
    font-size: 100%;
    font-weight: normal;
    line-height: 160%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 85%, rgba(0,0,0,0.52) 87%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(85%,rgba(0,0,0,0.6)), color-stop(87%,rgba(0,0,0,0.52)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0) 100%); /* Opera 11.050+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.rin_metrooned_CBDescription h1
{
    font-weight: bold;
    font-size: 140%;
    text-transform: uppercase;
    margin: 0;
}
.rin_metrooned_CBDescription h2, h3
{
    font-weight: normal;
    font-size: 90%;
    margin: 0;
    color: Gray;
}
.rin_metrooned_CBDescText
{
    margin: 30px;
    margin-top: 80px;
}
.rin_metrooned_CBGroupTitle
{
    margin: 0;
    padding: 0;
    height: 20px;
    margin-left: 5px;
    color: #fff;
}
.rin_metrooned_error
{
    background-color: #252525;
    padding: ".3em";
    text-align: center;
    display: none;
    position: absolute;
    top: 50%;
    left: 40%;
    margin: 0px 0px 0px 0px;
}
.rin_metrooned_cue
{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0px 0px -35px;
    background: #000 url(images/cue.png) no-repeat center center;
    width: 70px;
    height: 70px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 777;
    opacity: 0.3;
}
.rin_metrooned_cue:hover
{
    opacity: 1;
}
﻿.rin_InteractiveContainer ul{
	list-style-type: none;
	margin:0;
	margin-left: 15px;
	padding:0;
	white-space: nowrap;
}

.rin_InteractiveContainer ul li{
	width: 36px;
	height:36px;
	display: inline;
	margin: auto 5px;
	opacity:0.7;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

}

.rin_InteractiveContainer ul li img{
	margin-bottom: 7px;
}

.rin_panControl{
	width: 50px;
	height: 50px;
	display: inline-block;
	background-image: url('images/PanBG.png');
	background-repeat: no-repeat;
	position: relative;
}


.rin_InteractiveContainer ul li:hover{
	opacity: 1;
	}
	

.rin_arrowButtons{
	position:absolute;
	width:16px;
	height:16px;
	opacity:1;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;	
}

.rin_arrowUp{
	background-image:url('images/uparrow.png');
	background-repeat:no-repeat;
	left:17px;
	top: 3px;
}

.rin_arrowButtons:active{
	opacity:0.3;
}


.rin_arrowRight{
	background-image:url('images/rightarrow.png');
	background-repeat:no-repeat;
	top:16px;
	right:3px;
}

.rin_arrowBottom{
	background-image:url('images/downarrow.png');
	background-repeat:no-repeat;
	bottom:4px;
	left:17px;
}

.rin_arrowLeft{
	background-image:url('images/leftarrow.png');
	background-repeat:no-repeat;
	top:16px;
	left:3px;
}﻿.rinRotateControl
{
    list-style-type: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    white-space: nowrap;
    display: inline;
}

.rinRotateControl li
{
    width: 36px;
    height: 36px;
    display: inline;
    margin: auto 5px;
    opacity: 0.7;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.rinRotateControl li img
{
    margin-bottom: 7px;
}
﻿.rin_blurbMainDiv
{
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 100%;
}
.rin_blurbContainer
{
    position: absolute;
    width: 350px;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #fcfcfc;
}

.rin_blurbTitle
{
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

.rin_blurbDesc
{
    max-height: 100px;
    overflow: hidden;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

.rin_blurbMoreContainer
{
    font-size: 80%;
    margin-top: 10px;
}

.rin_blurbMoreIcon
{
    float: left;
}

.rin_blurbMoreText
{
    opacity: 0;
    left: 30px;
    position: absolute;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    bottom: -2px;
}

.rin_blurbContainer:hover .rin_blurbMoreText
{
    opacity: 1;
    left: 20px;
}
div .rin_overlay_top
{
    top: 120px;
}
div .rin_overlay_left
{
    left: 15px;
}
div .rin_overlay_right
{
    right: 15px;
}
div .rin_overlay_bottom
{
    bottom: 120px;
}
.rin_popup_CBDescription
{
    position: absolute;
    width: 25%;
    min-width: 300px;
    right: 0px;
    float: right;
    overflow-x: hidden;
    overflow-y: auto;
    height: 85%;
    font-size: 100%;
    font-weight: normal;
    line-height: 160%;
    color: #fcfcfc;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 85%, rgba(0,0,0,0.52) 87%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(85%,rgba(0,0,0,0.6)), color-stop(87%,rgba(0,0,0,0.52)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0) 100%); /* Opera 11.050+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.rin_popup_CBDescription h1
{
    font-weight: bold;
    font-size: 140%;
    text-transform: uppercase;
    margin: 0;
}
.rin_popup_CBDescription h2, h3
{
    font-weight: normal;
    font-size: 90%;
    margin: 0;
    color: Gray;
}
.rin_popup_CBDescText
{
    margin: 30px;
    margin-top: 80px;
}
﻿.rin_video_overlay
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #fcfcfc;
    overflow: hidden;
    font-family: "Segoe Pro Display" , Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    position: absolute;
    width: 40%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    max-height: 350px;
    max-width: 500px;
}
div .rin_overlay_top
{
    top: 120px;
}
div .rin_overlay_left
{
    left: 30px;
}
div .rin_overlay_right
{
    right: 30px;
}
div .rin_overlay_bottom
{
    bottom: 120px;
}
.rin_video_preview
{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
.rin_video_cue
{
    width: 38px;
    height: 38px;
    bottom: 35px;
    left: 15px;
    position: absolute;
    cursor: pointer;
    opacity: 0.5;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    position: absolute;
    background: #000 url(images/cue.png) no-repeat center center;
    z-index: 777;
}
.rin_video_cue:hover
{
    opacity: 1;
}
.rin_video_title
{
    position: absolute;
    top: 7px;
    left: 7px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Segoe Pro Display" , Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
}
﻿.rin_popup_CBDescription
{
    position: absolute;
    width: 25%;
    min-width: 300px;
    right: 0px;
    float: right;
    overflow-x: hidden;
    overflow-y: auto;
    height: 85%;
    font-size: 100%;
    font-weight: normal;
    line-height: 160%;
    color: #fcfcfc;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 85%, rgba(0,0,0,0.52) 87%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(85%,rgba(0,0,0,0.6)), color-stop(87%,rgba(0,0,0,0.52)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0) 100%); /* Opera 11.050+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.rin_popup_CBDescription h1
{
    font-weight: bold;
    font-size: 140%;
    text-transform: uppercase;
    margin: 0;
}
.rin_popup_CBDescription h2, h3
{
    font-weight: normal;
    font-size: 90%;
    margin: 0;
    color: Gray;
}
.rin_popup_CBDescText
{
    margin: 30px;
    margin-top: 80px;
}
﻿.rin_titleoverlay
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #fcfcfc;
    background: transparent;
    overflow: hidden;
    font-family: "Segoe UI" , Tahoma, Geneva, Verdana, sans-serif;
    height: 100px;
    font-size: 300%;
    font-weight: lighter;
    position: absolute;
    margin-top: 50px;
    left: 15px;
    width: 30%;
    white-space: nowrap;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}﻿.selectDisable {-webkit-user-select: none;  -khtml-user-select: none;   -moz-user-select: none; -o-user-select: none;	user-select: none; }

.selectEnable { -webkit-user-select: text;  -khtml-user-select: text;   -moz-user-select: text; -o-user-select: text;	user-select: text; }

html, body, .rinPlayer  {
	height: 100%;
	margin:0;
	padding:0;
	overflow:hidden;
	width: 100%;
	font-family: "Segoe", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 100%;
}

.mainContainer{
	background: #01131B;
	position:relative;
	height: 100%;
	-ms-touch-action:none;
}

.preview{
	width: 100%;
	height: 100%;
}

.rin_ExperienceStream{
	float:left;
	width:100%;
	height:100%;
}

.rin_Header{
	position: absolute;
	top: 0px; 
	width: 100%; 
	height:40px; 
	background-color:black; 
	font-size: 80%;
	opacity: 0;
	z-index: 100000;
}

.rin_HeaderLeft{
	float:left; 
	margin: 10px 0 0 15px; 
	text-transform:uppercase;
}

.rin_HeaderCenter {
}

.rin_HeaderRight{
	float: right; 
	margin:10px 15px 0 0; 
	color: silver;
}

.rin_TroubleShootingControl {
	width:20px;
	height:20px;
	border:0px;
	background-image:url('images/BlankButton.png');
	background-repeat:no-repeat;
	background-color:transparent;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.rin_TroubleShootButtonHolder {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:60px;
}

.rin_EditNarrative {
	background-color: rgba(0, 0, 0, 0.47);
	height:120%;
	position:absolute;
	top:20px;
    min-width:80%;
    min-height:100%;
}

.rin_EditNarrativeText {
	width:100%;
	height:95%;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.rin_SelfTestNarrative {
    display:inline-block;
	background-color: rgba(0, 0, 0, 0.47);
	color:white;
    margin-left:auto;
    margin-right:auto;
}

.rin_TroubleShooterNarrativeDuration {
    display:inline;
    background-color: rgba(0,0,0,0.47);
    color:white;
}

.rin_Footer{
	width: 100%;
	height: 65px;
	position: absolute;
	bottom: 0px;
	z-index: 150000;
}

.rin_FooterBackground {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.050+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
	width: 100%;
	height: 100%;
	bottom: 0px;
	position: absolute;
}

.rin_PlayPauseContainer {
	margin-bottom: 7px;
	margin-top: 7px;
	float: left;
	margin-right: 4px;
	position:relative;
}

.rin_InteractiveContainer{
	float:left;
	margin:0px;
	display:inline-block;
}

.rin_RightContainer{
	float: right;
	margin-right: 15px;
	position:relative;
	margin:0px;
	display:inline-block;
}

.rin_Footer ul{
	list-style-type: none;
	margin:0;
	padding:0;
	display:inline-block;
}

.rin_Footer ul li{
	display: block;
	float:left;
	margin-right: 10px;
	opacity: 0.7;
	position: relative;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;

}

.rin_Footer ul li img{
	margin-bottom: 7px;
	margin-top: 7px;
	opacity: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.rin_Button {
	border:0px;
	background-color:transparent;
	height:40px;
	width: 40px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.rin_Footer ul li img:active{
	opacity:0.3;
}

.rin_Footer ul li:hover {
	opacity: 1;
}

.rin_BottomContainer {
	margin:0px;
}

.rin_TimelineHolder .rin_SliderContainer{
	position: absolute;
	left:0px;
	bottom: 0px;
	height:10px;
	width:100%;
	display:inline-block;
}

.rin_TimelineHolder .rin_SliderContainer .rin_Slider{
	position: absolute;
	bottom: 0px;
	height:10px;
	background:  #33CCFF;
}

.rin_Play {
	background-image:url('images/play.png');
	background-repeat:no-repeat;
	margin-left:10px;
}

.rin_Pause {
	background-image:url('images/pause.png');
	background-repeat:no-repeat;
	margin-left:10px;
}

.rin_Volume {
	background-image:url('images/volume.png');
	background-repeat:no-repeat;
	clear:both;
	height:36px;
	width:36px;
}

.rin_Mute {
	background-image:url('images/volume.png');
	background-repeat:no-repeat;
	clear:both;
	height:36px;
	width:36px;
}

.rin_FullScreen {
	background-image:url('images/Collapse.png');
	background-repeat:no-repeat;
}

.rin_RestoreScreen {
	background-image:url('images/FullScreen.png');
	background-repeat:no-repeat;
}

.rin_FullScreenContent {
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
}

.rin_VolumeControl {
	margin-bottom: 7px;
	height:36px;
	width:36px;
}

.rinDefaultVolumeControl {
	position: absolute;
	bottom:0px;
}

.rin_VolumeSliderPlaceHolder {
	clear:both;
	position:relative;
	height:80px;
	width:20px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:2px;
}

.rin_VolumeSliderPlaceHolder .rin_SliderContainer {
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.47);
	display:block;
	position:absolute;
	bottom:0px;
}

.rin_VolumeSliderPlaceHolder .rin_SliderContainer .rin_Slider {
	background:#33CCFF;
	bottom:0;
	position:absolute;
	width:100%;
}

.rin_FullScreenControl {
	margin-bottom: 7px;
	margin-top: 7px;
	height:36px;
	width:36px;
}
﻿.rin_popup
{
    color: #fcfcfc;
    background: #000;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    height: 30%;
    width: 30%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    z-index: 200000; /*Should have the highest z-index*/
}
.rin_popup_es_container
{
    position: absolute;
    margin: 2px 2px 2px 2px;
    height: 100%;
    width: 100%;
}
.rin_popup_loading
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0px 0px -35px;
    background: #000 url(images/loader.gif) no-repeat center center;
    width: 70px;
    height: 70px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 200001;
    opacity: 0.7;
}
.rin_popup_next, .rin_popup_prev
{
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: -15px;
    cursor: pointer;
    opacity: 0.7;
    outline: none;
    border: 0px;
    z-index: 200002;
}
.rin_popup_next:hover, .rin_popup_prev:hover
{
    opacity: 1;
}
.rin_popup_next:disabled, .rin_popup_prev:disabled
{
    opacity: 0.2;
}
.rin_popup_next
{
    background: #333 url(images/next.png) no-repeat center center;
    right: 10px;
    top: 50%;
}
.rin_popup_prev
{
    background: #333 url(images/prev.png) no-repeat center center;
    left: 10px;
    top: 50%;
}
.rin_popup_close
{
    position: absolute;
    margin: 15px 15px 0px 0px;
    right: 0px;
    float: right;
    background: #000 url(images/close.png) no-repeat center center;
    width: 36px;
    height: 36px;
    opacity: 0.5;
    z-index: 200009;
}
.rin_popup_close:hover
{
    opacity: 1;
}
.rin_popup_CBDescription
{
    position: absolute;
    width: 25%;
    min-width: 300px;
    right: 0px;
    float: right;
    overflow-x: hidden;
    overflow-y: auto;
    height: 85%;
    font-size: 100%;
    font-weight: normal;
    line-height: 160%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 85%, rgba(0,0,0,0.52) 87%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(85%,rgba(0,0,0,0.6)), color-stop(87%,rgba(0,0,0,0.52)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0) 100%); /* Opera 11.050+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    z-index: 200003;
}

.rin_popup_CBDescription h1
{
    font-weight: bold;
    font-size: 140%;
    text-transform: uppercase;
    margin: 0;
}
.rin_popup_CBDescription h2, h3
{
    font-weight: normal;
    font-size: 90%;
    margin: 0;
    color: Gray;
}
.rin_popup_CBDescText
{
    margin: 30px;
    margin-top: 80px;
}
.rin_popup_error
{
    background-color: #252525;
    padding: .3em;
    text-align: center;
    display: none;
    position: absolute;
    top: 50%;
    left: 40%;
    margin: 0px 0px 0px 0px;
}

.rin_popup_background
{
    width: 100%;
    height: 100%;
    bottom: 0px;
    position: absolute;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.050+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
}
